---
// Importa el Layout y la funci칩n para obtener datos


import Layout from '../../layouts/Layout-in.astro';
import { marked } from 'marked';
import normas from './data/normas.json';

//leer json con los datos src\pages\normas\data\normas.json y return data
const records = normas ;



export function getStaticPaths() {
  //retornar las rutas de las p치ginas din치micas iterando records
  return [
  {params: {slug: '56003'}},
  {params: {slug: '20000-1'}},
  {params: {slug: '14001'}},
  {params: {slug: '45001'}},
  {params: {slug: '9001'}},
  {params: {slug: '17020'}},
  {params: {slug: '17025'}},
  {params: {slug: '16949'}},
  {params: {slug: '56002'}},
  {params: {slug: '15189'}},
  {params: {slug: '13485'}},
  {params: {slug: '7101'}},
  {params: {slug: '22000'}},
  {params: {slug: '37301'}},
  ];
}                             
  
//obstener la ruta de la p치gina
let { slug } = Astro.params;

//quitar texto norma de la ruta

//Encontrer el registro con norma que coincide con el slug
const record = records.find((record: { norma: string;
  content: { parent: string; };
  header: string;
  color_secundario: string;
  title: string;
  subtitulo: string;
 }) => record.norma === slug);

// Convertir el contenido Markdown a HTML
const convertedRecord = {
  ...record,
  htmlContent: record ? marked(record.content.parent) : ''
};

//TODO: hacer que la imagn se stycky y que el texto se desplace arriba de la imagen

---
<Layout title={record?.title || 'AsemhWeb'}>
  <a href="/landing/" class="ref">
    <h1 id="sticky-parallax-header" transition:name={record?.norma} class="flex text-4xl pt-11 pb-8 bg-no-repeat  bg-cover leading-normal" style={{ backgroundImage: `url(/landing/portadas/${record?.norma}.png)`, color: `${record?.color_secundario}`}}>
      <button id="btn-parallax" transition:name="header" transition:animate="slide" class=" flex pl-1 items-center top-80 left-3"><img src="/landing/back.svg" style="" width="5%" alt=""/>
        <strong id="title-parallax" class="pl-2 text-left">{record?.norma} {record?.title}</strong>
    </button>
    </h1>
  </a>
  
  <article class="z-50 mr-5 ml-5 md:mr-10 md:ml-10 lg:mr-20 lg:ml-20">
    <div class="" set:html={convertedRecord.htmlContent}></div>
  </article>
</Layout>